.header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height:50px;

	background:$color-green;
	border-bottom:1px solid darken($color-green, 10);

	.webapp & {
		padding-top:20px;
		height:70px;
	}
}

.header-content {
	display:table;
	height:50px;
	width: 100%;

	& > div {
		display:table-cell;
		vertical-align: middle;
		height:50px;
		text-align: center;
	}
}

.header-left,
.header-right {
	width:50px;
}