.search {
	display:block;
	margin-bottom:10px;
}

.search-input {
	display: block;
	width: 100%;
	font-size: 15px;
	padding:10px;
	border:1px solid darken($color-bg, 10);
	background:transparent;
	font-weight: 100;
	text-align: center;

	-webkit-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;


	@include transition(all .2s 0);

	&:focus {
		background:$color-white;
		outline:none;
	}

	.loading & {
		display:none;
	}
}