.timestable {
	display:block;
	list-style: none;
	background: $color-grey-light;
	border-top:1px solid darken($color-grey-light, 10);
	padding:10px;
	font-size: 0;

	&.loading {
		background-image:url($path-img + 'loader.gif');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 110px 10px;

		.timestable-item {
			display:none;
		}
	}
}
.timestable-item {
	display:inline-block;
	padding:5px 7px;
	border:1px solid lighten($color-grey, 30);
	color: $color-grey;
	font-size: 12px;
	margin:5px;

	&.infotrafic {
		color:$color-infotrafic;
	}

	a {
		color: $color-grey;
		text-decoration: none;
	}
}