.timestable {
	display:block;
	list-style: none;
	background: $color-grey-light;
	border-top:1px solid darken($color-grey-light, 10);
	padding:10px;
	font-size: 0;
}
.timetables-item {
	display:inline-block;
	padding:5px 7px;
	border:1px solid lighten($color-grey, 30);
	color: $color-grey;
	font-size: 12px;
	margin:5px;

	&.infotrafic {
//		border:1px solid $color-infotrafic;
		color:$color-infotrafic;
	}
}