<header class="header">
	<div class="header-content">
		<div class="header-section header-section--left">
			<a href="#/timestable">
				<img width="25" src="./img/icon-left.svg" alt="Retour" />
			</a>
		</div>
		<div class="header-section header-section--middle">
			<img src="./img/logo-tan.svg" alt="Tan" class="logo-tan"/>
		</div>
		<div class="header-section header-section--right"></div>
	</div>
</header>
<main class="main">
	Search: <input ng-model="query">
	<div class="station" ng-repeat="station in stations | filter:query">
		<div class="station-infos">
			<a href="#/station/{{station.name}}/{{station.code}}" class="station-infos_name">{{station.name}}</a>
		</div>
	</div>
</main>