<header class="header">
	<div class="header-content">
		<div class="header-section header-section--left">
			<a href="#/stations">
				<img width="25" src="./img/icon-left.svg" alt="Retour" />
			</a>
		</div>
		<div class="header-section header-section--middle">
			<img src="./img/logo-tan.svg" alt="Tan" class="logo-tan"/>
		</div>
		<div class="header-section header-section--right"></div>
	</div>
</header>
<main class="main">
	<div class="station" ng-repeat="line in lines">
		<div class="station-infos">
			<div class="station-infos_ligne">{{line.line}} → {{line.terminus}}</div>
		</div>
	</div>
</main>