<header class="header">
	<div class="header-content">
		<div class="header-section header-section--left">
			<a href="#/timestable">
				<img width="25" src="./img/icon-left.svg" alt="Retour" />
			</a>
		</div>
		<div class="header-section header-section--middle">
			<img src="./img/logo-tan.svg" alt="Tan" class="logo-tan"/>
		</div>
		<div class="header-section header-section--right"></div>
	</div>
</header>
<main class="main" ng-class="{loading:loading}">
	<div class="search">
		<input type="search" class="search-input" ng-model="query" placeholder="Rechercher">
	</div>
	<div class="station" ng-repeat="station in stations | filter:query">
		<div class="station-infos">
			<div class="station-infos_name">{{station.name}}</div>
		</div>
		<ul class="timestable">
			<li class="timestable-item" ng-repeat="line in station.lines">
				<a href="#/station/{{station.code}}/{{line.line}}">Ligne {{line.line}}</a>
			</li>
		</ul>
	</div>
</main>