$path-img: '../img/';
$path-js: '../js/';
$path-font: '../fonts/';

$color-bg:#f4f4f4;
$color-grey: #898989;
$color-green: #3ecd5b;
$color-grey-light: #fafafa;
$color-white: #ffffff;

$font-base: 'OpenSans', sans-serif;